# Build Folders
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio cache
.vs/

# Logs
*.log

# Secrets (keep default appsettings only)
appsettings.*.json
!appsettings.json

# OS files
.DS_Store
Thumbs.db
